<h1 align="center"> Edit existing article </h1>

<%= render "form" %>

<!--<img src="https://pbs.twimg.com/profile_images/1223153353464668160/G0NWAQrG_400x400.jpg" 
  alt="a cubby girl smiling" style="width:400px;height:400px;">-->