<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Show Article</title>
</head>

<body>

  <h1> Showing selected article </h1>

  <p> 
    Title: <%= @article.title %>
  </p>

  <p> 
    Description: <%= @article.description %> 
  </p>

  <img src="https://pbs.twimg.com/profile_images/1223153353464668160/G0NWAQrG_400x400.jpg" 
    alt="a cubby girl smiling" style="width:400px;height:400px;">

</body>
</html>